version: "3.8"

services:
  api:
    image: phamdongchinh683/backend-fastify:latest
    container_name: backend-api
    env_file:
      - .env
    expose:
      - "3000"
    restart: always

  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/backend.prod.conf:/etc/nginx/conf.d/backend.prod.conf:ro
    depends_on:
      - api
    restart: always
