services:
  api:
    image: phamdongchinh683/backend-fastify:latest
    container_name: api
    restart: always
    env_file:
      - .env
    networks:
      - internal-net
    depends_on:
      - db

  db:
    image: postgres:16
    container_name: postgres
    restart: always
    environment:
      POSTGRES_DB: app
      POSTGRES_USER: app
      POSTGRES_PASSWORD: secret
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - internal-net
    ports:
      - "5432:5432"

  nginx:
    image: nginx:latest
    container_name: nginx
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    networks:
      - internal-net
    depends_on:
      - api

volumes:
  db_data:

networks:
  internal-net:
    driver: bridge
