services:
  api:
    image: phamdongchinh683/backend-fastify:latest
    container_name: api
    restart: always
    env_file:
      - .env
    ports:
      - "3000:3000"
    networks:
      - internal-net
    depends_on:
      - db

  db:
    image: postgres:16
    container_name: postgres
    restart: always
    environment:
      POSTGRES_DB: app
      POSTGRES_USER: app
      POSTGRES_PASSWORD: secret
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - internal-net
    ports:
      - "5432:5432"
volumes:
  db_data:

networks:
  internal-net:
    driver: bridge
