name: Deploy Fastify

on:
  push:
    branches:
      - dev

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Debug SSH raw
        run: |
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > key.pem
          chmod 600 key.pem
          ssh -o StrictHostKeyChecking=no -o ConnectTimeout=15 \
            -i key.pem ubuntu@${{ secrets.SERVER_IP }} "echo SSH_OK"

      - name: Deploy to server
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          timeout: 60s
          command_timeout: 30m
          script: |
            set -e
            cd ~/backend-fastify-setting
            git pull origin dev
            corepack enable
            yarn install
            yarn build
            pkill node || true
            nohup yarn start > app.log 2>&1 &
